<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<add key="comPort" value="4"/>
		<add key="debugLog" value="true"/>
		<add key="debugLogPath" value="C:\Users\luv\Desktop\"/>
		<add key="mediaPath" value="D:\Media"/>
		<add key="mediaPathB" value=""/>
		<add key="mouseMoverPath" value="C:\Users\luv\source\repos\LocalVideoPlayer\Utils\MouseMoverClient\MouseMoverClient\bin\Release\MouseMoverClient.exe"/>
		<add key="mouseSize" value="128"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>