<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="mediaPath" value="D:\Media"/>
        <add key="mouseMoverPath" value="C:\Users\luv\source\repos\LocalVideoPlayer\MouseMoverService\MouseMoverServiceDebugger\bin\Release\MouseMoverServiceDebugger.exe"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>