<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<add key="comPort" value="4"/>
		<add key="comPortEnabled" value="true"/>
		<add key="debugLogEnabled" value="true"/>
		<add key="debugLogPath" value="%USERPROFILE%\Desktop\"/>
		<add key="hideCursor" value="true"/>
		<add key="mediaPath" value="D:\Media"/>
		<add key="mediaPathB" value="E:\Media"/>
		<add key="mouseMoverPath" value="..\..\..\Utils\MouseMoverClient\MouseMoverClient\bin\Release\MouseMoverClient.exe"/>
		<add key="mouseSize" value="128"/>
		<add key="tvIdExceptions" value="1960;7842;102321;652;31841;2291"/>
		<add key="espIp" value="192.168.0.138"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>